* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
h4  {
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: #000;
}


.nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100vh;
    background-image: url(../assets/home/desktop/image-hero-coffeepress.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    color: #fff;
    line-height: 1.5;
    padding: 0 2rem;
}

.tittle {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero_img {
    width: 1200px;
    height: 600px;
    border-radius: 15px;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 2rem;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 15px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin-right: 1rem;
}