 @import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

     /* Color Palette */

     --dark-cyan: #0E8784;
     --dark-grey-blue: #333D4B;
     --grey: #83888F;
     --light-cream: #FEFCF7;
     --pale-orange: #FDD6BA;

     /* Font Family */
     --first-ff: 'Fraunces', sans-serif;
     --second-ff: 'Barlow', sans-serif;
 }

 body {
     display: flex;
     background-color: var(--light-cream);
     font-family: var(--second-ff);
 }

 h1 {
     font-size: 2rem;
     margin-bottom: 1rem;
     font-family: var(--first-ff);
     font-size: 72px;
     line-height: 72px;
 }

 h2 {
     font-size: 40px;
     line-height: 48px;
     margin-bottom: 1rem;
     font-family: var(--first-ff);
 }

 h3 {
     font-size: 32px;
     line-height: 36px;
     margin-bottom: 1rem;
     font-family: var(--first-ff);
 }

 h4 {
     font-size: 24px;
     line-height: 32px;
     margin-bottom: 1rem;
     font-family: var(--first-ff);
 }

 p {
     font-size: 1rem;
     margin-bottom: 1rem;
 }

 a {
     text-decoration: none;
     color: #000;
 }

 .navbar {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding: 1rem 2rem;
     font-family: var(--second-ff);

 }

 .navbar a {
     color: var(--grey);
     font-weight: 700;
     font-size: 12px;
     line-height: 15px;
     letter-spacing: 0.92px;
 }

 .nav_menu {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     text-transform: uppercase;
 }

 .hero {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: left;
     width: 1364px;
     margin-left: 25px;
     margin-bottom: 80px;
     height: 600px;
     background-image: url(../assets/home/desktop/image-hero-coffeepress.jpg);
     background-size: cover;
     background-position: center;
     border-radius: 15px;
     color: #fff;
     line-height: 1.5;

 }

 .hero_content {
     display: flex;
     flex-direction: column;
     margin-right: 800px;
     padding-left: 60px;
 }

 .hero_content p {
     margin-bottom: 1rem;
     line-height: 26px;
     margin-right: 100px;
 }

 .tittle {
     font-size: 2rem;
     margin-bottom: 1rem;
     text-align: center;
     padding: 0 2rem;
 }

 .hero_img {

     border-radius: 15px;
 }

 .coffee_img {
     width: 234.82px;
     height: 177.48px;
 }

 .container {
     max-width: 1500px;
     margin: 0 auto;
     padding: 0 2rem;
 }

 .collection {
     margin-bottom: 100px;
 }

 .collection_title {
     width: 100%;
     font-family: var(--first-ff);
     font-weight: 800;
     text-align: center;
     margin-bottom: 13px;
     background-color: #83888F;
     background-image: linear-gradient(180deg, #83888F 0%, #fefcf7 80%);
     -webkit-text-fill-color: transparent;
     background-clip: text;
     color: transparent;
     font-size: 200px;
     margin-bottom: -80px;
 }


 .btn {
     display: inline-block;
     padding: 1rem 2rem;
     background-color: var(--dark-cyan);
     border: 0;
     border-radius: 0.5rem;
     text-decoration: none;
     font-family: var(--first-ff);
     font-size: 18px;
     font-weight: 700;
     line-height: 1.5rem;
     color: var(--light-cream);
     cursor: pointer;
     -webkit-transition: all 200ms ease-in-out;
     transition: all 200ms ease-in-out;
     width: 217px;
     height: 56px;
 }

 .choose_us {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     background-image: url(../assets/about/desktop/bg-quality.png);
     background-size: cover;
     background-position: center;
     border-radius: 15px;
     color: var(--light-cream);
     margin-bottom: 250px;
     height: 577px;

 }

 .choose_us h2 {
     margin-top: 180px;
 }

 .choose_us_par {
     margin: 0 auto;
     width: 50%;
     padding-right: 100px;
     padding-left: 100px;
     margin-bottom: 2rem;
     line-height: 26px;
     font-size: 16px;
 }

 .our_benefits {
     position: relative;
     top: 50px;
 }

 .quality,
 .benefits,
 .shipping {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 2rem 0;
     background-color: var(--dark-cyan);
     border-radius: 15px;
     color: var(--light-cream);
     width: 350px;
     height: 382px;
 }

 .step_one,
 .step_two,
 .step_three {
     color: var(--pale-orange);
     margin-bottom: 2rem;
 }

 .steps h2 {
     font-size: 32px;
     line-height: 36px;
     margin-bottom: 1rem;
     font-family: var(--first-ff);
     width: 255px;
 }

 .steps {
     width: 1042px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     margin: 0 auto;
 }

 ul {
     display: flex;
     list-style: none;
 }

 li {
     margin-right: 1rem;
 }

 footer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: var(--dark-grey-blue);
     color: #fff;
     padding: 2rem 0;
     margin-top: 2rem;
 }

 footer a {
     color: var(--grey);
     margin-bottom: 1rem;
     text-transform: uppercase;
     font-size: 12px;
     line-height: 15px;
     letter-spacing: 0.92px;
     font-weight: 700;
 }

 .right_bean,
 .left_bean {
     width: 16.5px;
     height: 16.5px;
 }

 /*About us Page*/

 .about_hero {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 1280px;
     height: 450px;
     background-image: url(../assets/about/desktop/image-hero-whitecup.jpg);
     background-size: cover;
     background-position: center;
     border-radius: 15px;
     color: #fff;
     line-height: 1.5;
     padding: 0 2rem;
     margin-left: 70px;
 }

 .about_hero_content {
     display: flex;
     flex-direction: column;
     margin-right: 800px;
     margin-left: 40px;
 }

 .about_us_container {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .our_commitment {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .our_commitment h2 {
     display: flex;
     margin-right: 200px;
     color: var(--dark-grey-blue);
     line-height: 48px;
 }

 .our_commitment_img {
     width: 445px;
     height: 520px;
     margin-top: 100px;
     margin-bottom: 100px;
     border-radius: 10px;
 }

 .commitment_content {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 540px;
     height: 260px;
     margin-left: 90px;
     font-size: 16px;
     line-height: 26px;
 }

 .our_quality {
     display: flex;
     justify-content: center;
     align-items: center;
     background-image: url(../assets/about/desktop/bg-quality.png);
     background-size: cover;
     background-position: center;
     background-size: 1280px;
     height: 562px;
     border-radius: 15px;
     background-repeat: no-repeat;
     color: var(--light-cream);

 }

 .our_quality h2 {
     margin-right: 50px;
 }


 .our_quality_content {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 540px;
     height: 210px;
     margin-right: 100px;
     font-size: 16px;
     line-height: 26px;
 }

 .our_quality_img {
     width: 445px;
     height: 474px;
     border-radius: 10px;
     position: relative;
     bottom: 100px;
 }

 .headquarters {
     width: 1045px;
     height: 366px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     margin-left: 100px;
     margin-top: 60px;
 }

 .locations_tittle {
     display: flex;
     flex-direction: column;
     margin-bottom: 2rem;
     color: var(--grey);
     line-height: 32px;
     font-size: 24px;
     margin-left: 100px;
 }

 .locations {
     display: flex;
     flex-direction: row;
     margin-top: 2rem;
     height: 262px;
     justify-content: space-between;
     margin-right: 100px;
     margin-left: 100px;
 }

 .locations h4 {
     color: var(--dark-grey-blue);
     line-height: 36px;
     font-size: 24px;
     font-weight: 700;
 }


 /*Create your plan Page*/

 .hero_plan {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 1280px;
     height: 450px;
     background-image: url(../assets/plan/desktop/image-hero-blackcup.jpg);
     background-size: cover;
     background-position: center;
     border-radius: 15px;
     color: #fff;
     line-height: 1.5;
     padding: 0 2rem;
 }

 .hero_content_plan {
     display: flex;
     flex-direction: column;
     margin-left: 60px;
 }

 .hero_content_plan p {
     margin-right: 730px;
 }


 .plan {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     background-image: url(../assets/plan/desktop/bg-steps.png);
     background-size: cover;
     background-position: center;
     color: var(--light-cream);
     margin-top: 100px;
     height: 450px;
     padding-right: 80px;
     padding-left: 80px;
     border-top-width: 40px;
     padding-top: 80px;
 }

 .plan h1 {
     color: var(--pale-orange);

 }

 .plan_item {
     display: flex;
     flex-direction: column;
     border-radius: 15px;
     color: var(--light-cream);
     width: 285px;
     height: 355px;
     line-height: 26px;
 }

 .options li {
     display: flex;
     flex-direction: column;
     justify-content: center;
     border-radius: 15px;
     background-color: #F4F1EB;
     color: var(--dark-grey-blue);
     width: 228px;
     height: 250px;
     padding-left: 40px;
     padding-right: 40px;
 }

 .left-content {
     display: flex;
     flex-direction: column;
     align-items: left;
     font-size: 16px;
     line-height: 26px;
     width: 255px;
     height: 356px;
     margin-top: -1200px;
     margin-right: 100px;
 }

 .right-content {
     display: flex;
     flex-direction: column;
     align-items: left;
     font-size: 16px;
     line-height: 26px;
 }

 .preferences {
     display: flex;

     justify-content: center;
     align-items: center;

     margin-top: 100px;
 }

 .questions {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .summary {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 50px;
     background-color: var(--dark-grey-blue);
     font-family: var(--first-ff);
     color: #fff;
     font-size: 24px;
     font-weight: 700;
     line-height: 40px;
     border-radius: 15px;
     padding: 20px 20px;
     width: 580px;
     margin-bottom: 20px;
    }

 .summary h3 {
     font-family: var(--second-ff);
     color: var(--light-cream);
     font-size: 16px;
     line-height: 26px;
     font-weight: 200;
     margin-right: 280px;
    }

 .summary span {
     color: var(--dark-cyan);
 }

 .modal {
     display: none;
 }

 .submit {
    margin-left: 360px;
}
 